<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <button (click)="onDo()" class="btn btn-primary btn-block mt-4 w-100">Show auth data</button>
                        <div *ngIf="accessToken" class="token-area">
                            <div>
                                AccessToken
                            </div>
                            <div>
                                {{accessToken}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body p-3">
                        <button (click)="onLogin()" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>